*{
    margin:opx;
    padding: 0px;
    font-family:'popins',sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(image/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px,0;
}
.logo{
    width: 180px;
    cursor: pointer;
}
nav button{
    border-radius: 3px;
    border: 0px;
    outline: 0px;
    background-color: rgb(215, 35, 35);
    color: rgb(207, 156, 156);
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
    padding: 7px;
}
nav button:hover{
    background-color: red;
    padding-top: 15px;
    background: transparent;
   
}
.language-button img{
    width: 20px;
    padding: 4px;   
}
.header-content{
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
   font-weight: bold;
}
.header-content h3{
    font-size: 30px;

}
.more{
  color: red;
 
}
.header-content p{
    font-weight: bolder;
}
.email-signup{
    background: white;
    display: flex;
   margin: 0 auto;
   margin-top: 30px;
   border-radius: 4px;
   overflow: hidden;
   width: 300px;


}
.email-signup input{
    flex: 1;
    outline: 0;
    border: 0;
    margin-left: 20px;
   
   
}
.email-signup button{
    width: 300px;
    padding: 5px;
    outline: 0;
    border: 0;
    color:white;
    background:red;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 20px;
    cursor: pointer;
    
    
}


.features{
     padding: 50px 12%;
     font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width:90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}



.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #787;

}
.footer h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(185, 232, 232);
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;

}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:antiquewhite;


}